/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font */

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Border size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
  margin: 0;
  height: 100%;
  cursor: default;
}

a {
  text-decoration: none;
  /* color: var(--color-white); */
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-family: "Roboto Slab";
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-family: "Roboto Slab";
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #212529;
  color: var(--color-white);
  align-items: center;
  padding: 0px;
  z-index: 1;
}

.navbar__logo {
  margin-left: 80px;
}

.navbar__logo > img {
  width: 300px;
  height: 60px;
  object-fit: cover;
}

.navbar__menu {
  margin-right: 180px;
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-grey);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: white;
  display: none;
}

/* Home */
#home {
  padding: 40px;
  padding-top: 300px;
  text-align: center;
  background-image: url("imgs/home__background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home__title {
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: 350;
}

.home__description {
  color: var(--color-white);
  font-size: 60px;
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-light-grey);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Service */
#service {
  margin-top: 50px;
  width: 60%;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.section__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service__content {
  display: flex;
  justify-content: center;
}

label {
  cursor: pointer;
  font-size: 1em;
}

#chooseFile {
  visibility: hidden;
}

.service__file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__file-input {
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
  width: 100%;
  height: 30px;
}

#fileName {
  margin-left: 5px;
}

.service__btn {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.image-show {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.img {
  position: absolute;
}

/* Team */
#team {
}

.team__description {
  padding-top: 25px;
  padding-bottom: 25px;
}

.team__row {
  padding-top: 50px 25px;
  padding-bottom: 25px;
}

.member__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.team__member__description {
  padding-top: 25px;
  padding-bottom: 50px;
}
