/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font */

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Border size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
  margin: 0;
  height: 100%;
  cursor: default;
}

a {
  text-decoration: none;
  /* color: var(--color-white); */
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-family: "Roboto Slab";
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-family: "Roboto Slab";
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  color: var(--color-white);
  align-items: center;
  padding: 0px;
  transition: var(--animation-duration) ease-in-out;
  z-index: 1;
}

.navbar__logo {
  margin-left: 80px;
}

.navbar__logo > img {
  width: 300px;
  height: 60px;
  object-fit:cover;
}

#navbar.navbar--dark {
  background-color: #212529;
  padding: 8px;
}

.navbar__menu {
  margin-right: 180px;
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-grey);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  display: none;
}

/* Home */
#home {
  padding: 40px;
  padding-top: 300px;
  text-align: center;
  /* background-image: url("imgs/home__background.png"); */
  background-image: url("imgs/home__background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home__title {
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: 350;
}

.home__description {
  color: var(--color-white);
  font-size: 60px;
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-light-grey);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Service */
#service {
  margin-top: 50px;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  background-color: var(--color-white);
}

#service:hover {
  outline: 5px dashed #92b0b3;
  background-color: gray;
  transition: var(--animation-duration);
}

.service__content {
  text-align: center;
}

label {
  cursor: pointer;
  font-size: 1em;
}

#chooseFile {
  visibility: hidden;
}

.service__file {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__file-input {
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
  width: 500px;
  height: 30px;
}

#fileName {
  margin-left: 5px;
}

.service__btn {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.service__upload {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .image-upload {
  border: 1px solid black;
} */

.image-show {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 2px;
  visibility: hidden;
}

.ellipes_download {
  margin-top: 100px;
}

.ellipes_download,
.final_download {
  visibility: hidden;
  color: lightskyblue;
  font-size: 30px;
}

/* .image-show {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 50%;
} */

/* About */
#about {
  margin-top: 10px;
  width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  background-color: var(--color-white);
}

.about__RD-background {
  margin-top: 0px;
}

.about__RD-goal {
  margin-top: 50px;
}

/* Team */
#team {
  margin-top: 50px;
  width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  background-color: var(--color-white);
}

.team__description {
  padding-top: 25px;
  padding-bottom: 25px;
}

.team__row {
  padding-top: 50px 25px;
  padding-bottom: 25px;
}

.member__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.team__member__description {
  padding-top: 25px;
  padding-bottom: 50px;
}

.social__btn {
  color: var(--color-blue);
  font-size: var(--font-medium);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.social__btn i:hover {
  transform: scale(1.2);
  color: var(--color-grey);
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-grey);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* 안드로이드, 아이폰 (일반폰) */
@media all and (max-width: 768px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 26px;
    right: 26px;
    background: white;
    font-size: var(--font-medium);
  }

  #navbar {
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #212529;
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__logo {
    margin: 0px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  #service {
    width: 370px;
  }

  .service__content {
    width: 100%;

  }

  .service__file {
    width: 300px;
    justify-content: center;
  }

  #about {
    width: 370px;
    
  }

  #team{
    width: 370px;
  }

  .member__container {
    display: flex;
    flex-direction: column;
  }

  .team__member {
    padding-bottom: 20px;
  }



  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}




/*
    갤럭시 탭, 아이패드등 (태블릿)
*/

@media all and (max-width: 1065px) and (min-width: 801px) {
  .box_inner { width: 100%; }
  header .header_area h1 { padding-left:  20px; }
  .header_cont { float: right; width: 60%; padding-right: 20px; }
  .header_cont .gnb li a { padding: 26px 25px; }
  .gnb_depth .submenu_list { width: 100%; padding-left: 52%; }
  .gnb_depth .submenu_list li a { padding: 20px; }

  #container { padding-bottom: 20px; }
  .about_area .place_list { box-sizing: border-box; padding: 0 20px; }
  .appbbs_area .appbbs_box { box-sizing: border-box; padding: 0 20px; }
  .appbbs_area .appbbs_box .app_line a { font-size: 21px; }

  footer .foot_area { box-sizing: border-box; padding-left: 20px; }
  footer .foot_area .snslink li { margin-left: 15px; }

  .quick_area .quick_list { display: none; }
  .to_top { position: fixed; right: 20px; bottom: 112px; text-align: center; background: none; z-index: 100; }
  .to_top a { display: block; width: 45px; height: 45px; border-left: none; border-bottom: none; background: url(../images/ico_totop_mo.png) no-repeat center; background-size: 45px; }

  /* 회원 가입 */
  .appForm .app_list li .tit_lbl { width: 21%; }
  .appForm .app_list li .app_content { width: 79%; }
  
  /* 마이 페이지 */
  .regForm .reg_list li .tit_lbl { width: 21%; }
  .regForm .reg_list li .reg_content { width: 79%; }
  
}

